div {
    background-color: #5f5d5d;
}

h1 {
    color: red;
    background-color: white;
    
}


h2#primero {
    text-align: center;
    color: rgb(20, 4, 250); 
    font-size: 40px;
}

h2#segundo {
    text-align: center;
    color: rgb(10, 177, 38);
    font-size: 40px; 
}

ul {
    list-style-type : circle;
}
